.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #faf3dc;
  z-index: -1;
}

.background__container {
  overflow: hidden;
}

.background {
  flex: 1;
  font-size: 10vh;
  position: absolute;
  top: 0;
  left: 0;
  /* color: #97dbd2; */
  color: #f5e2a4;
  font-style: italic;
  inline-size: 100vw;
  word-break: break-all;
  height: 100vh;
  overflow: hidden;
  opacity: 1;
  z-index: 0;
}

.container {
  z-index: 1;
}

.container__header {
  text-align: center;
  margin-bottom: 30px;
}