.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #faf3dc;
}

.container__header {
  text-align: center;
  margin-bottom: 30px;
}