.calculator {
    position: relative;
    display: flex;
    flex-direction: column;
    /* width: 400px;
    height: 570px; */
    width: calc(65vh * 0.702);
    height: 65vh;
    /* aspect-ratio: 0.702 / 1 ; */
    border: 2px solid #111;
    border-radius: 30px;
    /* overflow: hidden; */
    box-shadow: 0.5em 0.5em 0 #111;
}

.calculator__output {
    /* box-sizing: border-box; */
    background-color: #b0f3f7;
    flex: 0.2;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0.5em;
    overflow: hidden;

    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

    border-bottom: 2px solid #111;
}

.output__previousOperand {
    /* flex: 0.3; */
    font-size: 2vh;
    padding: 0.5em 0.5em 0 0;
}

.output__inputPlaceholder {
    /* font-size: 3em; */
    opacity: 0.5;
}

.output__currentInput {
    transition: all 500ms ease;
}


.calculator__keypad {
    background-color: pink;
    flex: 0.8;

    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;

    display: grid;
    padding: 1em;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5em;
}

.calculator__spanTwo {
    grid-column: span 2 / auto;
}

.calculator__keypad > button {
    border-radius: 2em;
    /* border: none; */
    border: 1px solid #111;
    outline: none;
    background-color: aliceblue;
    cursor: pointer;
    font-size: 1em;

    transition: transform 200ms ease;
}

button:hover {
    background-color: #f4d6ff;
    transform: scale(1.07);
}

button:active {
    transform: scale(0.7);
}

.playBurstStars-enter {
    position: absolute;
    right: 5%;
    bottom: 7%;
    opacity: 0.3;
    font-size: 0vh;
    transform: translateX(0%) rotateZ(0deg);
}

.playBurstStars-enter-active {
    opacity: 1;
    transform: translateX(230%) rotateZ(100deg);
    font-size: 5vh;
    transition: all 300ms ease;
}

.playBurstStars-enter-done {
    position: absolute;
    right: 5%;
    bottom: 7%;
    opacity: 0;
    font-size: 5vh;
    transform: translateX(230%) rotateZ(100deg);
    transition: all 500ms ease;
}

.playBurstStars-exit {
    position: absolute;
    right: 5%;
    bottom: 7%;
    opacity: 0;
    transform: translateX(300%) rotateZ(100deg);
}

.playBurstStars-exit-active {
    opacity: 0;
    transition: all 500ms ease;
}


.playBurstStarsTwo-enter {
    position: absolute;
    right: 5%;
    bottom: 7%;
    opacity: 0.3;
    font-size: 0vh;
    transform: translateX(0%) rotateZ(0deg);
}

.playBurstStarsTwo-enter-active {
    opacity: 1;
    transform: translateX(220%) translateY(-130%) rotateZ(50deg);
    font-size: 3vh;
    transition: all 300ms ease;
}

.playBurstStarsTwo-enter-done {
    position: absolute;
    right: 5%;
    bottom: 7%;
    opacity: 0;
    font-size: 3vh;
    transform: translateX(220%) translateY(-130%) rotateZ(50deg);
    transition: all 500ms ease;
}

.playBurstStarsTwo-exit {
    position: absolute;
    right: 5%;
    bottom: 7%;
    opacity: 0;
    transform: translateX(300%) rotateZ(30deg);
}

.playBurstStarsTwo-exit-active {
    /* position: absolute; */
    opacity: 0;
    transition: all 500ms ease;
}